header{
    background-color: pink;
}

article{
    
    border:2px solid double black;
    border-style: double;
    padding: 20px;
}

#rightSide{
    border:2px solid double black;
    border-style: double;
    padding: 20px;
}

#parrafoMain{
    padding-top:30px
}
#imgProg{
    width: 400px;

}


body{
    background-color: white;
    margin: 0;
    padding-bottom: 50px;
}

#contenedorForm{
    background-color: rgb(243, 212, 217);
    border: 1px solid black;
    padding-top: 20px;
}

footer{
    background-color: pink;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
}